<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear Evento</title>
  <link rel="stylesheet" href="formulario.css">
</head>
<body>
  <div class="form-container">
    <h2>Crear Evento</h2>
    <form>
      <label>Título:</label>
      <input type="text" name="titulo">

      <label>Descripción:</label>
      <textarea name="descripcion" rows="3"></textarea>

      <label>Fecha de inicio</label>
      <input type="date" name="fecha_inicio">

      <div class="grid-two">
        <div>
          <label>Fecha de fin:</label>
          <input type="date" name="fecha_fin">
        </div>
        <div>
          <label>Costo</label>
          <input type="number" step="0.01" name="costo">
        </div>
      </div>

      <label>Modalidad</label>
      <input type="text" name="modalidad">

      <button type="submit">Crear</button>
    </form>
  </div>
</body>
</html>
